{% extends 'base/base.html' %}

{% block title %} 
App mascota 
{% endblock %}

{% block content %}
<h2> Razones por las que tener una mascota en casa es bueno para ti </h2>
<br>
<h4>Mejora la salud cardìaca</h4>
<p>
 Un estudio de la Asociación Americana del Corazón ha demostrado que los dueños de perros tienen menos riesgo de sufrir enfermedades cardiovasculares.

Diversas investigaciones apuntan que el mero hecho de acariciar a un perro o contemplar a los peces de un acuario tiene un efecto relajante que reduce la frecuencia cardiaca. Otro estudio de la State University de Nueva York sobre 240 parejas casadas con y sin mascotas constató que la presión arterial era notablemente más baja en las parejas con animales.</p>

<h4>Libera la hormona de la felicidad</h4>
<p>
Tras compartir un rato de juegos con sus mascotas, sus dueños experimentan un estallido de oxitocina, la también llamada molécula del amor. En realidad es una hormona que se asocia “con la lactancia o el placer”, puntualiza Vila. La oxitocina ayuda a disminuir los niveles de estrés y es un buen antídoto contra la depresión..</p>

<h4>Disminuye el estrès</h4>
<p>El equipo de la psiquiatra Sandra Baker de la Universidad Commonwealth de Virginia (EE.UU.) midió las ondas cerebrales de distintos dueños de perros antes y después de pasar un rato con ellos. Descubrieron que tras interactuar con sus animales, las personas experimentaban un aumento en la frecuencia de las ondas asociadas a la relajación y una disminución en su nivel de la hormona del estrés, el cortisol. Asimismo, las personas que interactúan con animales mientras trabajan están menos estresados.
</p>

<h4>Mejora la vida social</h4>
<p>
	En muchas ocasiones, una mascota es la excusa para conocer gente nueva: en los parques se forman corrillos de dueños de perros que coinciden allí, los desconocidos que se acercan a acariciar a un cachorro o las conversaciones que surgen sobre anécdotas o el cuidado de los animales son escenas cotidianas.
</p>

<h4> Estimula a los niños</h4>
<p>
	Además de ser un compañero de juegos para los niños, crecer con una mascota es una oportunidad para enseñarle a ser responsable y a respetar a los animales. Perros y bebés tienen una conexión instantánea, se enseñan cosas mutuamente y en ocasiones, son los mejores ángeles de la guarda.
</p>

<h4> Nos hacen reír</h4>
<p>
	Los animales contagian felicidad y nos hacen reír por sus habilidades, por sus parecidos, por su inocencia y por lo monísimos que son, entre miles de motivos.
</p>


{% endblock %}

